@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$dark: #2c3531;
$green: #116466;
$pink: #d9b08c;
$coral: #ffcb9a;
$lightblue: #96a19e;

$nav-bg: $green;
$nav-link: $dark;
$nav-link-hover: $green;
$welcome-bg: $dark;
$welcome-p: $green;
$projects-bg: $lightblue;
$contact-bg: $dark;
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $dark;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: $nav-bg;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  letter-spacing: 1px;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    li {
      width: 33.333%;
      padding: 1em 0;
      cursor: pointer;
      color: $pink;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.1em;
      font-weight: 600;
      height: 100%;
    }
    li:hover,
    li:target {
      background-color: $pink;
      color: $green;
    }
  }
  @media screen and (min-width: 700px) {
    ul{
      width: 375px;
      margin: auto;
    }
    
  }
}

section > h2 {
  font-family: monospace;
  .number {
  }
}
@media screen and (min-width: 700px) {
  section > h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 990px) {
  .large-visible {
    display: none;
  }
}
#welcome-section {
  background-color: $welcome-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  img {
    max-width: 120px;
    border: 2px solid $green;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  h1 {
    color: $lightblue;
    font-size: 2.5em;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }
  p {
    color: $pink;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }
  button {
    width: 130px;
    color: $green;
    border: 1px solid $green;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    padding: 0.7em 1em;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 1em;
  }
  button:hover {
    background-color: $green;
    color: white;
  }
  .email {
    opacity: 0;
    font-size: 1em;
    color: $green;
    transition: opacity 0.8s ease-in;
  }
  .visible {
    opacity: 1;
  }
  @media (min-width: 700px) {
    h1 {
      font-size: 3em;
    }
  }
}

#skills {
  padding: 2em 1em 3em 1em;
  background-color: $pink;
  h2 {
    margin-bottom: 1.5em;
  }
  i {
    color: white;
    transition: transform 0.1s;
  }
  i:hover {
    transform: scale(1.3);
  }
  @media screen and (max-width: 500px) {
    i {
      font-size: 2em;
      margin: 0 0.5em;
    }
  }
  @media screen and (min-width: 501px) {
    i {
      font-size: 3em;
      margin: 0 1em;
    }
  }
}

#projects {
  background-color: white;
  padding-top: 4rem;
  .project {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #2c35316e;
    padding: 30px 6vw 15px 6vw;
    margin-bottom: 2rem;
    > div {
      // border: 1px solid black;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    img {
      max-width: 85vw;
    }
    .description {
      flex: 1;
      justify-content: space-between;
      letter-spacing: 1px;
      padding: 16px 0;
      p {
        opacity: 0.8;
        line-height: 1.6;
        font-size: 15px;
      }
      .design {
        font-size: 0.8em;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        color: $green;
      }
      .small {
        font-size: 0.6em;
        color: $green;
      }
      .buttons {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: $green;
          border: 1px solid $green;
          outline: none;
          padding: 0.5em 0.8em;
          border-radius: 30px;
          background: transparent;
        }
        a:first-of-type {
          background-color: $green;
          color: white;
          margin-right: 1.5rem;
        }
        a:first-of-type:hover {
          opacity: 0.8;
        }
        a:nth-of-type(2):hover {
          background-color: $green;
          color: white;
        }
      }
    }
  }
  .weather {
    height: 100vh;
    max-height: 680px;
    border-top: none;
    img {
      max-width: 80vw;
    }
  }
  .game {
    height: 90vh;
    max-height: 610px;
  }
  .task,.portfolio {
    height: 80vh;
    max-height: 533px;
  }
  .calc {
    height: 85vh;
    max-height: 567px;
  }
  .quote {
    height: 88vh;
    max-height: 587px;
  }

  @media (min-width: 700px) and (max-width: 990px) {
    .project {
      padding-top: 50px;
      padding-bottom: 50px;
      img {
        max-width: 537px;
      }
    }
    .weather {
      max-height: 880px;
      border-top: none;
    }
    .game {
      max-height: 716px;
    }
    .task,.portfolio {
      max-height: 650px;
    }
    .quote,
    .calc {
      max-height: 670px;
    }
    .flex-wrapper {
      border-top: 1px solid #2c35316e;
      display: flex;
      justify-content: center;
      .project {
        border-top: none;
        padding-right: 0;
        padding-left: 0;
      }
      .description {
        h2,
        p,
        .buttons {
          margin-left: 0 !important;
        }
      }
    }
  }
  @media screen and (min-width: 990px) {
    .project {
      padding-top: 100px;
      padding-bottom: 100px;
      flex-direction: row;
      img {
        max-width: 42vw;
      }
      .description {
        h2,
        p,
        div:not(.small) {
          margin-left: 70px;
        }
        align-items: flex-start;
        text-align: left;
      }
      .buttons {
        justify-content: flex-start;
      }
    }
    .project > div {
      width: 40%;
    }
    .flex-wrapper {
      border-top: 1px solid #2c35316e;
      display: flex;
      justify-content: center;
      .project {
        border-top: none;
        padding-right: 0;
        padding-left: 0;
      }
      .description {
        h2,
        p,
        .buttons {
          margin-left: 0 !important;
        }
      }
    }
  }
}

#contact {
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $contact-bg;
  padding: 3em 2em;
  padding-bottom: 5em;
  color: $lightblue;
  h2 {
    font-size: 1.4em;
  }
  p {
    width: 70%;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-top: 1px solid #96a19e2d;
    border-bottom: 1px solid #96a19e2d;
    padding: 15px;
  }
  div {
    display: flex;
    justify-content: center;
  }
  a {
    margin: 0 1em;
    text-decoration: none;
    color: $green;
    transition: transform 0.1s ease-in;
  }
  a:hover {
    transform: scale(1.2);
  }
}
